.login {
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
}

.social-button {
    width: 60px;
    background: white;
    padding: 8px;
    border-radius: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    outline: 0;
    border: 0;
    margin-top: 10px;
}

.social-button:active {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.social-button img {
    width: 100%;
}

.btn-login {
    font-size: medium;
    margin-top: 0.8rem;
}

input {
    background-color: #d5eef2;
    border-radius: 0.25rem !important;
    padding: 12px 15px 12px 15px !important;
    width: 45%;
    box-sizing: border-box;
    border: 1px solid #d5eef2 !important;
    font-size: 14px !important;
    color: #000 !important;
    margin: 10px 0;
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 3px solid #00a3bd !important;
    outline-width: 0;
}

.p-login {
    padding: 1rem 1rem;
    text-align: center;
    font-size: large;
}